<h2 style = "position:relative; top : 200px">Hi I am Nishanth and this is an application where you can add your favorite animes.
<br>Just create a username, and fill out the input fields. You can also see what different
people are watching by clicking the links above!</h2>