<form id = "animes" method="POST" action="/api/addComment">
    <div class = "user name" style = "font-size : 30px; position: relative; top: 100px; left : 700px" >
        <label style = "font-size : 30px; position:relative; right : 150px">Which username do you want to add comment to?</label>
        <br><input style = "height : 40px;"type = "text" name="username" size="50" placeholder="Id"></br>
    </div>

    <div class = "user name" style = "font-size : 30px; position: relative; top: 200px; left : 600px" >
        <label style = "font-size : 30px; position:relative; left : 150px">Comment</label>
        <br><input style = "height : 400px; width : 800px"type = "text" name="comm" size="50" placeholder="Comment"></br>
    </div>

     <br><button style = "height : 50px; width : 300px; position: relative; top : 300px; left: 700px" type="submit">Create Post </button>
</form>